body {
    margin: 0;
    color: yellow;
    background-color: black;
    font-family: Helvetica, Arial;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

#search-result {
    padding: 10px;
}

.search-entry {
    padding: 10px;
    text-align: left;
    border: 1px yellow solid;
    margin-bottom: 10px;
}

.search-entry-category {
    color: gray;
    font-weight: italic;
}
