<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars Search Engine</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<center>
    <a href="/"><h1>Star Wars Search Engine</h1></a>
    <div th:insert="~{searchbar :: searchbar}"></div>

    <div id="search-result">
        <div class="search-entry" th:each="entry : ${entries}">
            <span class="search-entry-category">[ <span th:text="${entry.class.simpleName}"></span> ]</span>
            <a th:href="${entry.url}" target="_blank"><span th:text="${entry.name}"></span></a>
        </div>
    </div>
</center>

</body>
</html>